{{ define "model/fields/additional" }}
    {{- if eq $.Name "Connector" }}
        // StaticField defined by template.
        PushInterval int `json:"push_interval"`
        LastPushTime int64 `json:"last_push_time"`
        OrderState int `json:"order_state"`
        StationID datasource.UUID `json:"station_id"`
    {{- end }}
{{ end }}